"ml_w_ptc_skl\ch12\cat_dog_images\" 
"ml_w_ptc_skl\ch12\MNIST\"
"ml_w_ptc_skl\ch12\celeba"
"ml_w_ptc_skl\ch12\iris_classifier_state.pt"
"yolov8n-pose.pt"
"image.png"ml_w_ptc_skl/ch12_13_14/ 
dl_4bio/.vscode/ 
